<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cursoandroid.instagramclone">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.FiltroActivity"></activity>
        <activity
            android:name=".activity.PerfilOutrosUsuariosActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.EditarPerfilActivity"
            android:label="@string/title_activity_editar_perfil"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.CadastroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLoginCadastro" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLoginCadastro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>